@{
  Layout = "_Layout";
}

<h1>claire, welcome to your salon database</h1>

<hr />
<p>@Html.ActionLink("see your stylists","Index","Stylists")</p>
<p>@Html.ActionLink("see all clients","Index","Clients")</p>
